*
@import url("normalize.css");
{
	border:  none;
	margin : 0;
  box-sizing: border-box;
}

body
{
  font-family: "Google Sans",Roboto,Arial,sans-serif;
  font-size: 15px;
  border-spacing: 0;
  font-style: normal;
  line-height: 24px;
  text-align: center;
  
}

#botones
{
  background-color: #996600;
  font-size: 10px;
  color: #FFFFFF
}

input[type=button], input[type=submit], input[type=reset] 
{
  background-color: rgb(21,19,00);
  border: none;
  color: white;
  padding: 16px 32px;
  text-decoration: none;
  border-radius: 20px;
  margin: 4px 2px;
  cursor: pointer;
}

#image
{
	position: absolute;
	top: 20px;
	left: 40px;
	width: 150px;
	height: 60px;
}

#cabecera
{
	background-color: rgb(81,60,35);
	height: 100px;
	position: center;
  border-bottom-left-radius: 25px;
  margin-left: 190px;
}

#imagen-cabecera
{
  position: relative;
  width: 200px;
  height: 100px;
  left: -390px;
}

#menu
{
	position: absolute;
	top: 10px;
	right: 30px;
	font-family: "Google Sans Text Beta",Roboto,Arial,sans-serif;
	font-size: 1em;
}

#menu ul
{
	list-style: none;
	margin: 0;
	padding: 0;
	border-radius: 15px;
}

#menu li
{
	display: inline-block;
	margin-right: none;
}

#letra
{
  background-color: rgb(220, 220, 220);
  max-width: 800px;
  margin: 0 auto;
}

ul ol
{
	list-style: none;
}

.nav > li
{
	float: center;
}

.nav li a
{
	color: white;
	text-decoration: none;
	padding: 29px 30px;
	display: block;
}

.nav li ul
{
	display: none;
	position: absolute;
	min-width:110px;
}

.nav li:hover > ul
{
	display: block;
}

.nav li ul li ul
{
	position: relative;
}

.nav li ul li ul
{
	right: 100px;
	top: 0px;
}

nav 
{
    position:relative;
    top:150px;
    left:60px;
}

#contenedor
{
	width: 85.5%
}

article
{
	margin: 1.5em;
	min-height: 120px;
	font-size: 1em;
}

#contenido
{
	top: 20px;
	left: 40px;
	width: 150px;
	height: 60px;
}

#principal
{
	display: inline-block;
	min-height: 200px;
	vertical-align: top;
  font-size: 25px;
	list-style: none;
	width: 30%;
}

.informacion
{
	display: inline-block;
	vertical-align: top;
	min-height: 200px;
	line-height: 20px;
  padding: 10px 50px;
  column-count: 1;
	width: 40%;
}

.nota
{
  background-color: rgb(81,60,35);
  margin: -5px;
  column-count: 1;
  width: 537PX;
}

aside { width: 34%; }

aside, #investigación
{
	display: inline-block;
	vertical-align: top;
	min-height: 200px;
  color: #FFFFFF;
  width: 30%;
}

#banners125 
{
  margin: 9px 0;
  width:100%;
}

#banners125 ul 
{
  padding:0;
  margin: -10px;
  list-style-type:none;
}

#banners125 ul li 
{
  float: left;
  margin:10px 0 0 40px;
  display: inline;
}

#banners125 img 
{
  display: block;
  width: 210px;
  height: 320px;
}

#banners250 
{
  margin: 10px 0;
  width:100%;
}

#banners250 ul 
{
  padding:0;
  margin:0;
  list-style-type:none;
}

#banners250 ul li 
{
  float: left;
  margin:343px 0 0 -210px;
  display: inline;
}

#banners250 img 
{
  display: block;
  width: 210px;
  height: 230px;
}

#fotobanner
{
  background-color: rgb(36, 36, 36);
  margin: 9px 0;
  width:100%;
}

#fotobanner ul 
{
  padding:0;
  margin:0;
  list-style-type:none;
}

#fotobanner ul li 
{
  float: left;
  margin:0 0 0 110px;
  display: inline;
}

#fotobanner img 
{
  display: block;
}

#banners1 
{
  margin: 9px 0;
  width:100%;
}

#banners1 ul 
{
  padding:0;
  margin: -10px;
  list-style-type:none;
}

#banners1 ul li 
{
  float: left;
  margin:10px 0 0 40px;
  display: inline;
}

#banners1 img 
{
  display: block;
  width: 210px;
  height: 320px;
}

#foto-articulo
{
  width: 400px;
  height: 300px;
  margin:10px auto;
  display:block;
}

#info
{
  background-color: rgb(36, 36, 36)
}

aside, #adicional
{
	display: inline-block;
	vertical-align: top;
	min-height: 200px;
	width: 37%;
}

aside { width: 32%; }

.fila
{
	margin: .25em auto;
	padding: .25em;
	width: 78%; 
}

.titulo
{
	margin: .25em auto; 
	width: 90%;
}

.container.gallery-container 
{
    background-color: #fff;
    color: #35373a;
    min-height: 100vh;
    border-radius: 20px;
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.06);
}

.tz-gallery 
{
    padding: 40px;
}

.tz-gallery .lightbox img 
{
    width: 100%;
    margin-bottom: 30px;
    transition: 0.2s ease-in-out;
    box-shadow: 0 2px 3px rgba(0,0,0,0.2);
}


.tz-gallery .lightbox img:hover 
{
    transform: scale(1.05);
    box-shadow: 0 8px 15px rgba(0,0,0,0.3);
}

.tz-gallery img 
{
    border-radius: 4px;
}

.baguetteBox-button 
{
    background-color: transparent !important;
}

@media(max-width: 768px) 
{
    body 
    {
        padding: 0;
    }

    .container.gallery-container 
    {
        border-radius: 0;
    }
}
