*
@import url("normalize.css");
{
  border:  none;
  margin : 0;
  box-sizing: border-box;
}

body
{
  font-family: "Google Sans",Roboto,Arial,sans-serif;
  font-size: 15px;
  border-spacing: 0;
  font-style: normal;
  line-height: 24px;
  text-align: center;  
}

.small {font-size: .75rem;}
.large {font-size: 1.25rem;}

#botones
{
  background-color: #996600;
  height: 130px;
  font-size: 15px;
  color: #FFFFFF
}

input[type=button], input[type=submit], input[type=reset] 
{
  background-color: rgb(81,60,35);
  border: none;
  color: white;
  padding: 5px 32px;
  text-decoration: none;
  border-radius: 10px;
  margin: -10px 8px;
  cursor: pointer;
}

#image
{
  position: absolute;
  top: 10px;
  left: 40px;
  width: 150px;
  height: 60px;
}

#blog
{
  width: 350px;
  height: 350px;
  margin-top: -285px;
  margin-left: -120px;
}

#blog-2
{
  width: 350px;
  height: 350px;
  margin-top: -285px;
  margin-left: 70px;
}

#blog-3
{
  width: 350px;
  height: 350px;
  margin-top: -285px;
  margin-left: 50px;
}

#blog-4
{
  background-color: rgb(36,36,36);
  color: white;
  font-size: 10px;
  position: relative;
  border-radius: 15px;
  border: 2px groove white;
  margin-top: 300px ;
  margin-left: -200px;
}

#blog-5
{
  display: inline-block;
  background-color: rgb(36,36,36);
  color: white;
  font-size: 10px;
  border-radius: 15px;
  border: 2px groove white;
  margin-top: -300px;
  margin-left: -220px;
}

#blog-6
{
  display: inline-block;
  background-color: rgb(36,36,36);
  color: white;
  font-size: 10px;
  border-radius: 15px;
  border: 2px groove white;
  margin-top: -300px;
  margin-left: -190px
}

#redes-sociales1
{
  background-color: #b70e0c; 
  border: none; 
  color: white; 
  padding: 16px 52px; 
  text-decoration: none; 
  border-radius: 10px; 
  margin-top: 510px; 
  margin-left: -235px; 
  cursor: pointer;
}

#redes-sociales2
{
  background-color: #814f93; 
  border: none; 
  color: white; 
  padding: 16px 52px; 
  text-decoration: none; 
  border-radius: 10px; 
  margin-top: 510px; 
  margin-left: -265px; 
  cursor: pointer;
}

#redes-sociales3
{
  background-color: #162765; 
  border: none; 
  color: white; 
  padding: 16px 52px; 
  text-decoration: none; 
  border-radius: 10px; 
  margin-top: -510px; 
  margin-left: -235px; 
  cursor: pointer;
}

#cabecera
{
  background-color: rgb(81,60,35);
  height: 70px;
  border-bottom-left-radius: 25px;
  margin-left: 190px;
}

#imagen-cabecera
{
  position: relative;
  width: 155px;
  padding: 10px;
  left: -390px;
}

#menu
{
  position: absolute;
  top: 10px;
  right: 30px;
  font-family: "Google Sans Text Beta",Roboto,Arial,sans-serif;
  font-size: 1em;
}

#menu ul
{
  list-style: none;
  margin: 0;
  padding: 0;
  border-radius: 15px;
}

#menu li
{
  display: inline-block;
  margin-right: none;
}

#letra
{
  background-color: rgb(36, 36, 36);
  height: 210px;
}

ul ol
{
  list-style: none;
}

.nav > li
{
  float: center;
}

.nav li a
{
  color: white;
  text-decoration: none;
  padding: 29px 30px;
  display: block;
}

.nav li ul
{
  display: none;
  position: absolute;
  min-width:110px;
}

.nav li:hover > ul
{
  display: block;
}

.nav li ul li ul
{
  position: relative;
}

.nav li ul li ul
{
  right: 100px;
  top: 0px;
}

nav 
{
    position:relative;
    top:150px;
    left:60px;
}

#contenedor
{
  width: 85.5%
}

article
{
  margin: 1.5em;
  min-height: 120px;
  font-size: 1em;
}

#contenido
{
  top: 20px;
  left: 40px;
  width: 150px;
  height: 60px;
}

#principal
{
  display: inline-block;
  min-height: 200px;
  vertical-align: top;
  font-size: 25px;
  list-style: none;
  width: 30%;
}

.informacion
{
  display: inline-block;
  vertical-align: top;
  min-height: 200px;
  line-height: 20px;
  padding: 10px 50px;
  column-count: 1;
  width: 40%;
}

.nota
{
  background-color: rgb(81,60,35);
  margin: -5px 0 0 25px;
  column-count: 1;
  width: 390PX;
}

aside { width: 34%; }

aside, #investigación
{
  display: inline-block;
  vertical-align: top;
  min-height: 200px;
  color: #FFFFFF;
  width: 30%;
}

#banners125 
{
  margin: 9px 0;
  width:100%;
}

#banners125 ul 
{
  padding:0;
  margin: -10px;
  list-style-type:none;
}

#banners125 ul li 
{
  float: left;
  margin:35px 0 0 40px;
  display: inline;
}

#banners125 img 
{
  display: block;
  height: 320px;
}

#banners250 
{
  margin: 10px 0;
  width:100%;
}

#banners250 ul 
{
  padding:0;
  margin:0;
  list-style-type:none;
}

#banners250 ul li 
{
  float: left;
  margin:384px 0 0 -190px;
  display: inline;
}

#banners250 img 
{
  display: block;
  width: 190px;
  height: 230px;
}

#banners2 
{
  margin: 9px 0;
  width:100%;
}

#banners2 ul 
{
  padding:0;
  margin: -10px;
  list-style-type:none;
}

#banners2 ul li 
{
  float: left;
  margin:5px 0 0 40px;
  display: inline;
}

#banners2 img 
{
  display: block;
  height: 320px;
}

#banners5 
{
  margin: 9px 0;
  width:100%;
}

#banners5 ul 
{
  padding:0;
  margin: -10px;
  list-style-type:none;
}

#banners5 ul li 
{
  float: left;
  margin:364px 0 0 -190px;
  display: inline;
}

#banners5 img 
{
  display: block;
  width: 190px;
  height: 230px;
}

#fotobanner
{
  background-color: rgb(36, 36, 36);
  margin: 9px 0 0 -70px;
  width:100%;
}

#fotobanner ul 
{
  padding:0;
  margin:0;
  list-style-type:none;
}

#fotobanner ul li 
{
  float: left;
  position: absolute; 
  display: inline;
}

#fotobanner img 
{
  display: block;
  margin: -480px 0 0 780px;
}

#banners1 
{
  margin: 9px 0;
  width:100%;
}

#banners1 ul 
{
  padding:0;
  margin: -10px;
  list-style-type:none;
}

#banners1 ul li 
{
  float: left;
  margin:10px 0 0 40px;
  display: inline;
}

#banners1 img 
{
  display: block;
  height: 320px;
}

#foto-articulo
{
  width: 400px;
  height: 300px;
  margin:10px auto;
  display:block;
}

#info
{
  background-color: rgb(36, 36, 36)
}

.social
{
  min-height: 610px;
  background-color: rgb(36, 36, 36)
}

aside, #adicional
{
  display: inline-block;
  vertical-align: top;
  min-height: 50px;
  width: 33%;
}

.fila
{
  margin: .15em auto;
  padding: .25em;
  width: 78%; 
}

.titulo
{
  margin: .25em auto; 
  width: 90%;
}

.container.gallery-container 
{
    color: #35373a;
    min-height: 100vh;
    border-radius: 20px;
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.06);
}

.tz-gallery 
{
    padding: 40px;
    background: url("Imagenes/fondo.png");
}

.tz-gallery .lightbox img 
{
    width: 100%;
    margin-bottom: 30px;
    transition: 0.2s ease-in-out;
    box-shadow: 0 2px 3px rgba(0,0,0,0.2);
}


.tz-gallery .lightbox img:hover 
{
    transform: scale(1.05);
    box-shadow: 0 8px 15px rgba(0,0,0,0.3);
}

.tz-gallery img 
{
    border-radius: 4px;
}

.baguetteBox-button 
{
    background-color: transparent !important;
}

@media(max-width: 768px) 
{
    body 
    {
        padding: 0;
    }

    .container.gallery-container 
    {
        border-radius: 0;
    }
}
